
<!--   <div class="row" ng-show="!showSearch">
      <div class="row">
        
        <div class="col-md-11 margined">
              <location-lookup ng-model="lookedUpLocation" limit-to="4" changelocation="getPlaces" callback="getPlaces">
              </location-lookup>
        </div>

         <md-button animate-element  class="searchButton" aria-label="Search" ng-click="showSearch = !showSearch"> 
           <i class="material-icons">search
           </i>
        </md-button>
      </div>
  </div>
 -->

 <!--  <div class="col-md-12" ng-show="showSearch" class="searchBar">
              <div class="md-toolbar-tools">
                  <md-button animate-element  ng-click="showSearch = !showSearch;searchText='' " aria-label="Back">
              <i class="material-icons">keyboard_backspace
              </i>
                 </md-button>
     
                        <div id="custom-search-input">
                            <div class="input-group col-md-12">
                                <input type="text" class="  search-query form-control" placeholder="Search" ng-model="searchText"/>
                                <span class="input-group-btn">
                                    <button class="btn btn-danger" type="button">
                                        <span class=" glyphicon glyphicon-search">
                                        </span>
                                    </button>
                                </span>
                            </div>
                        </div>
    
              </div>
  </div> -->

<!-- <div class="col-md-10" ng-include src=" '/app/main/searchField.html' ">
     </div> -->

<!--   <div class="row">
  <div class="col-md-6 col-md-offset-3">
    <md-virtual-repeat-container id="vertical-container">
      <div md-virtual-repeat="place in places  | filter:{name:searchText}"
          class="repeated-item flex">
      
          <md-card class="descriptionCard">
              <md-card-header>
                         <md-card-avatar>
                            <img class="md-user-avatar" src="/assets/images/food.jpg">
                            </img>
                         </md-card-avatar>
    

                  <md-card-header-text layout="row">
                    <div class="md-title" layout="row" layout-xs="column" flex>
                         <span class="placeTitle">{{place.name}}
                         </span>
                         <span class="hearts">  3
                         </span>
                         <span class="loves">
                         </span>
                    </div>
                  
                    
                    <div class="md-subhead placeDesc">{{place.description}}
                    </div>

                      <span class="circle-singleline" flex="20" layout-align="end end">
                           2 KM
                      </span>

                  </md-card-header-text>  
              </md-card-header>
         

                    <md-card-content>
            <p>
             {{place.description}}
            </p>
                    </md-card-content>
  

                    <md-card-footer>
            <div class="row">
            <div class="col-md-6">
            <div align="left" class="footerText">Min. Delivery:
             <i class="fa fa-inr"></i>
             {{place.min_order_value}}
            </div>
            </div>


            <div class="col-md-6" align="right">
              <md-button animate-element class="md-raised md-primary" ng-click="selectOutlet(place.id)">Place Order
              </md-button>
            </div>
            </div>
                    </md-card-footer>
          </md-card>
      </div>
    </md-virtual-repeat-container>
  </div>

  <div class="col-md-4">
  </div>
  </div> -->

 <!--  <div ng-include src=" 'app/main/searchField.html' ">
     </div> -->
        <div class="listContainer">

          <md-content>
         <md-list>
            <md-list-item animate-element ng-click="selectOutlet(place.id)" class="md-3-line placeContainer" ng-repeat="place in places">
               <img src="/assets/images/food.jpg" class="md-avatar" alt="{{place.name}}" />
              <div class="md-list-item-text" layout="column">
              <h5 class="md-headline ">{{ place.name }}
                      <!--   <span class="md-secondary"><span class="hearts">  3</span>
                         <span class="loves"><i class="material-icons">favorite</i></span></span> --></h5>
              <md-divider ></md-divider>
              <h6 class="md-subhead">{{ item.description || 'The restaurant description is not available at the moment.' }}</h6>
              <p><span class="footerText">Min. Delivery Order:</span><i class="fa fa-inr"></i> {{place.min_order_value}}</p>
              </div> 
            </md-list-item>
           </md-list>
         </md-content>
        </div>