<!-- <div ng-include="'components/navbar/navbar.html'"></div>
 -->
<div class="row">
  <div class="col-md-12" ng-show="!showSearch">
       <div class="row">
       <div class="col-md-11">
      <location-lookup ng-model="lookedUpLocation" limit-to="4" changelocation="getPlaces" callback="getPlaces"></location-lookup>
    </div>
       <md-button class="searchButton" aria-label="Search" ng-click="showSearch = !showSearch">
            <ng-md-icon icon="search"></ng-md-icon>
  </div>
  </div>
</div>
     <div class="col-md-12" ng-show="showSearch" class="searchBar">
       <div class="md-toolbar-tools">
          <md-button ng-click="showSearch = !showSearch;searchText='' " aria-label="Back">
            <ng-md-icon icon="arrow_back"></ng-md-icon>
          </md-button>
     
          <div id="custom-search-input">
                            <div class="input-group col-md-12">
                                <input type="text" class="  search-query form-control" placeholder="Search" />
                                <span class="input-group-btn">
                                    <button class="btn btn-danger" type="button">
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
    
        </div>
       
    </div>
 </div>
<div class="row">
<div class="col-md-2">
</div>
<div ng-repeat="place in places  | filter:{name:searchText}" class="col-md-6">

   <md-card>
       
        <md-card-header>
    <md-card-avatar>
      <img class="md-user-avatar" src="/assets/images/food.jpg">
    </md-card-avatar>
    

    <md-card-header-text>
    <div class="row">
      <div class="col-md-8">
         <div class="md-title"><span class="placeTitle">{{place.name}}</span><span class="hearts">   3</span><span class="loves"><ng-md-icon icon="favorite" ></span></div>
         <div class="md-subhead placeDesc">{{place.description}}</div>
     </div>
   
  </div>
    </md-card-header-text>
    
        <div class="circle-singleline" align="right">
    2 KM
</div>
  </md-card-header>
  <md-card-content>
    <p>
     Card content
    </p>
  </md-card-content>
  <md-card-footer>
  <div class="row">
    <div class="col-md-6">
               <div align="left" class="footerText">Min. Delivery: <i class="fa fa-inr"></i>{{place.min_order_value}}</div>
    </div>


    <div class="col-md-6" align="right">
              <md-button class="md-raised md-primary" ng-click="selectOutlet(place.id)">Place Order</md-button>
    </div>
</div>
  </md-card-footer>
      </md-card>

</div>
<div class="col-md-4">
</div>
</div>