

.container {
    margin-top: 10px;

}



#vertical-container {
  height: 100vh;
  width: 100%; 
}

.tabbed{
  height: 100vh;
}


.md-button.md-fab.md-fab-bottom-right {
  bottom: 60px !important;
}
.itemsContainer{
  margin: 10px;
  background-color: rgb(0,0,0) transparent !important;
  width: 90%;
}

.placeContainer{
  width:100%;
}
 .itemsContainer.repeated-item {
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  height: 90px;
  padding: 10px;
  width: 100%;
   }


   .highlightItem{
/*    background:   #ffc266 transparent;
*/    
   background: rgba(214, 214, 194,0.2);

   }


.add{
  color:blue;
}


.centerOptions{
  margin: 20px;
  padding: 5px;
  margin-bottom: 0px;
  
}

.centerText{
  text-align: center;
}

._md-select-value {

  text-align: center !important
}

.menu-container{
   /* margin-left: 2%;
    margin-right: 5%;*/
}

.itemPrice{
    text-transform: capitalize;
    color: green;
}

.md-select-value{
  text-align: center;
}

.modalHeading{
    text-align: center;
    text-transform: capitalize;
    color: #ccc;
}

.modalOption{
    color:rgba(33,150,243,0.87);
}
 
.cartdata{
    margin: 5px !important;
    padding: 5px !important;
}

.list-group-item .btn{
    font-size: 18px !important
}

.continueButton{
  margin-top:20px;
  
}


.addButton{
   color: green;
}

.subButton{
  color: red;
}

.itemName{
  font-style: bold;
  font-size: inherit;
  text-transform: capitalize;
  color: red;
}

.cartText{
  color: blue;
}

.cartFabIcon{
  padding: 4px;
  margin-top: 90vh !important;
}