
<div layout="row">
 <div class='userInfoContainer' flex-sm="99" flex>
<form name="userInfo" ng-submit="showConfirm()">
  <md-radio-group ng-model="user.serviceType" layout="row" flex-offset="10">
      <md-radio-button value="0" class="md-primary">Take Out</md-radio-button>
      <md-radio-button value="1" ng-disabled="true"> Delivery <md-tooltip >
          Not available!
        </md-tooltip>
      </md-radio-button>
    </md-radio-group>

    <div class="orderDetails">
    <md-input-container class="md-icon-float md-block">
      <label>Name(Optional)</label>
      <md-icon class="name personIcon"><i class="material-icons">person</i></md-icon>
      <input ng-model="user.name" type="text" name="name">
    </md-input-container>

    <md-input-container class="md-icon-float md-block">
      <md-icon  class="phoneIcon"><i class="material-icons">phone</i></md-icon>
      <input ng-minlength="10" ng-maxlength="10" ng-model="user.phone" type="number" ng-required="true" placeholder="Phone Number" name="number">
    </md-input-container>

    <div ng-messages="userInfo.number.$error" ng-if="userInfo.number.$touched" class="error-message">
        <p ng-message="minlength">Your number must be a 10 digit phone number.</p>
        <p ng-message="maxlength">Your number must be a 10 digit phone number.</p>
        <p ng-message="required">Your number is required.</p>
    </div>
    <md-input-container class="md-block">
      <md-icon class="email emailIcon"><i class="material-icons">email</i></md-icon>
      <input ng-model="user.email" type="email" placeholder="Email" ng-required="true" name="email">
    </md-input-container>

    <div ng-messages="userInfo.email.$error" ng-if="userInfo.email.$touched" class="error-message">
        <p ng-message="email">Please add a valid email address.</p>
        <p ng-message="required">Your Email Id is required.</p>
    </div>
    <md-input-container class="md-icon-float md-icon-left md-block">
         <md-icon style="display:inline-block;"><i class="material-icons">event_seat</i></md-icon>
      <input ng-model="user.seatNumber" type="text" placeholder="Seat Number" ng-disabled="true">
   
    </md-input-container>
    <md-input-container class="md-icon-float md-icon-left md-block" ng-readonly="true">
      <label>Amount</label>
      <md-icon class="amountIcon"><i class="fa fa-rupee"></i></md-icon>
      <input ng-model="user.payableAmount" ng-readonly="true" ng-disabled="true">
    </md-input-container>
  </div>

  <md-input-container>
  <label>Place order at</label>
  <input ng-required ="true" aria-label="order time" type="text" dn-timepicker="{{models.format}}" ng-model="models.time" 
  min-time="{{models.minTime}}" max-time="{{models.maxTime}}" step="{{models.step}}" name="time" />
  </md-input-container>

  <div ng-messages="userInfo.time.$error" ng-if="userInfo.time.$touched" class="error-message">
        <p ng-message="required">Please schedule your order.</p>
  </div>
     

    <md-radio-group ng-model="user.serviceType" layout="row" flex-offset="10">
    <label> Choose Payment Option </label> 
      <md-radio-button value="0" class="md-primary">Cash On Devlivery</md-radio-button>
      <md-radio-button value="1" ng-disabled="true"> Online Payment <md-tooltip >
          Not available!
        </md-tooltip>
      </md-radio-button>
    </md-radio-group>


    <div flex>
      <md-button animate-element type="submit" ng-disabled="userInfo.$invalid || cart.length == 0" class="md-raised md-primary btn-block" aria-label="confirmOrder">
        Confirm Order
      </md-button>
    </div>
</form>
 </div>
 <div hide-xs show-gt-md  flex-md="25" flex-gt-md="20" class="cartContainer"  layout-padding>
           <div ng-include src=" 'components/cart/cart.html' ">
           </div>
    </div>

</div>


