.buttonText{
    font-size: 1em;
}
.container-fluid{
    background-image: url("/assets/images/bg9.jpg");
    height: 100vh;
    z-index: -1;
    filter:alpha(0.1);
}

.locator{
    margin-top: 40vh;
    z-index: 2;
    position: relative;
}


md-input-container {
    display: block;
    position: relative;
    padding: 2px;
/*    margin: 18px 0;
*/  margin-top: 0px;
    margin-bottom: -20px;
    vertical-align: middle;
}

/*.predict li{
background-color:rgba(0,0,0,0.2);
}*/