.cartdata{
    margin: 5px !important;
    padding: 5px !important;
}

.list-group-item .btn{
    font-size: 18px !important
}

.continueButton{
  margin-top:20px;
  
}
.red{
	color: red;

}


.cartItemLIst{
	font-size: 0.8em;
}
.finalAmount{
	color: green;
}
.subdued{
 color: gray;
 font-size: 10px;
}
.addButton{
   color: green;
}

.subButton{
  color: red;
}


.cart{
	color:#ffaa80;
	margin: 3px;
	padding: 2px;

}