<!--        	<div class="panel panel-default">

  <div align="right" class="panel-heading">Your Cart 
    <i class="material-icons cart">shopping_cart</i>
  </div>
  <div class="panel-body" flex>
  	  <div ng-if="!cart || cart.length==0" class="subdued">

        Cart is empty. Add some items to the cart . <i class="material-icons">add_shopping_cart</i>
      </div>

<div ng-if="cart.length > 0">
 

<md-list>
  <md-list-item ng-repeat="item in cart" class="secondary-button-padding cartItemLIst" layout="row">
  <p flex="33">{{item.name}}<span ng-if="item.isHalf">[Half]</span><p>
    <div align="right" flex="66"><md-text-float>{{item.quantity}} <span class="red">X {{item.priceForItem}}</span>=<span class="finalAmount">{{item.quantity* item.priceForItem}}</span></md-text-float></div>
      <md-divider></md-divider>
  </md-list-item>
</md-list>

</div>
</div>


<div class="panel-footer" align="right" ng-if="cart.length > 0">
  <p>Tax: <i class="fa fa-inr"></i>
{{OrderBill.taxAmount}}</p>
  <p>Subtotal:<i class="fa fa-inr"></i>
{{OrderBill.totalBaseAmount}}</p>
	<p>Total: <i class="fa fa-inr"></i>
{{OrderBill.totalAmount}}</p>
</div>

</div> -->

<div class="cart side-cart panel-body"  flex>
    <header>
        <span class="icon-cart"></span>
        <h3>Your Cart</h3>
        
    </header>
          <md-divider></md-divider>

     <div ng-if="!cart || cart.length==0" class="subdued">

        Cart is empty. Add some items to the cart . <i class="material-icons">add_shopping_cart</i>
      </div>

      <div ng-if="cart.length > 0">


   <md-list>
  <md-list-item ng-repeat="item in cart" class="secondary-button-padding cartItemLIst" layout="row">
  <p flex="33" layout-wrap>{{item.name}}<span ng-if="item.isHalf">[Half]</span><p>
    <div flex="66"> 
      <div class="subButton" >
        <md-button class="md-icon-button md-secondary" aria-label="removeItemToCart" ng-click="deleteItemFromCart(item)">
    <md-icon class="md-default">
    <i class="material-icons">remove_circle_outline</i>
  </md-icon>
  </md-button>
  </div>
    <md-text-float layout="row" flex='40'><span>{{item.quantity}}</span>
     <span class="red">X {{item.priceForItem}}</span>=<span class="finalAmount">{{item.quantity* item.priceForItem}}</span>
   </md-text-float>


 </div>


      <md-divider></md-divider>
  </md-list-item>
</md-list>

</div>
<div class="panel-footer" align="right" ng-if="cart.length > 0">
  <p>Tax: <i class="fa fa-inr"></i>
{{OrderBill.taxAmount}}</p>
  <p>Subtotal:<i class="fa fa-inr"></i>
{{OrderBill.totalBaseAmount}}</p>
      <md-divider></md-divider>
  <p>Total: <i class="fa fa-inr"></i>
{{OrderBill.totalAmount}}</p>
</div>
</div>




